* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

html {
  font-size: 62.5%;
}

.contenedor {
  display: grid;
  border: 5px solid #e1bee7;
  background-color: #fff1ff;
  justify-content: flex-end;
  grid-template-rows: 100px 100px;
  grid-auto-columns: 100px;
  grid-auto-flow: column;
  gap: 20px;
}

.item {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  text-align: center;
  place-items: center;
  font-size: 3rem;
  color: black;
  font-weight: bold;
  border: 5px solid #00bcd4;
  font-size: 4rem;
}

.item:nth-child(3n + 1) {
  background: #add901;
}
.item:nth-child(3n + 2) {
  background: #71bb05;
}
.item:nth-child(3n + 3) {
  background: #268201;
}
.item:nth-child(3n + 1) p {
  background: #268201;
}
.item:nth-child(3n + 2) p {
  background: #2a8406;
}
.item:nth-child(3n + 3) p {
  background: #370000;
}
